<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado de albunm</title>
    

</head>

<body>
    <h1>LISTADO DE ALBUNMES</h1>
    <ul>
        <% for( let i = 0; i < albumes.length; i++ ) { %>
        <li>
            <a href="/artistas/detalle/<%= albumes[i].id %>"><%= albumes[i].nombre %>  <%= albumes[i].duracion %></a>
        </li>
        
        <% } %>
        
    </ul>
    <a  href="/">volver a la pagina principal</a>
    <br>
    <a  href="/albumes/crear/">Agrega a tu album</a>
</body>

</html>