<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>argregar album</title>
    
</head>

<body>
    <h1>Agregar album</h1>
        <form action="/albumes/crear" method="POST">
            <fieldset>
                <legend>Nombre del albunm</legend>
                <input type="text" name="nombre" id="nombre">
            </fieldset>
            <fieldset>
                <legend>Duracion de la cancion</legend>
                <input type="text" name="duracion" id="duracion">
            </fieldset>
            <a  href="/artistas">volver al listado</a>
            <p> <button type="submit">Agregar Nuevo artista</button>
        </form>
    </section>
    
</body>

</html>