<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= artistas.nombre %> </title>
</head>
<body>    
    <h1><%= artistas.nombre %> <%= artistas.apellido %></h1>
    <br>
    <p>genero: <%=artistas.generos %> </p>
    <a  href="/artistas">volver al listado</a>
    

    <p> <button type="submit">editar Artista</button></p>
    <p><button type="submit">eliminar artista</button></p>

</body>
</html>