<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= canciones.nombre %> </title>
</head>
<body>    
    <h1><%= canciones.nombre %> <%= canciones.duracion%></h1>
    <br>
    <p> genero: <%=canciones.genero %> </p>
    <a  href="/canciones">volver al listado</a>
    
    <p> <button type="submit">editar cancion</button></p>
    <p> <button type="submit">eliminar cancion</button></p>

</body>
</html>