<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado de canciones</title>
</head>
<body>
    <h1>LISTADO DE CANCIONES</h1>
    <ul>
        <% for( let i = 0; i < canciones.length; i++ ) { %>
        <li>
            <a href="/canciones/detalle/<%= canciones[i].id %>"><%= canciones[i].titulo %>  </a>
            
        </li>
        
        <% } %>

    </ul>
    <a  href="/">volver a la pagina principal</a>
    <br>
    <a  href="/canciones/crear/">Agrega a tu cancion favorito</a>
</body>

</html>