<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/artistas/guardar" method="post">

        <fieldset>
            <legend>Nombre del artista</legend>
            <input type="text" name="nombre" id="nombre">
        </fieldset>
        <fieldset>
            <legend>Apellido del artista</legend>
            <input type="text" name="apellido" id="apellido">
        </fieldset>
        <fieldset>
            <legend>Genero del artista</legend>
            <input type="text" name="genero" id="genero">
        </fieldset>

        <button type="submit">guardar</button>

    </form>
</body>
</html>