<!--TRABAJA CON EL METODO SHOW DEL CONTROLADOR-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (artista) { %> 
            <article>
                <h2><%= artista.name %><span>nombre <%=artista.apellido%></span></h2>
            </article>
            <nav>
                <a href="artista <%=artista.genero%>"><%=artista.genero%></a>
            </nav>
        <% } else { %>
         <h2>no hay artista seleccionado</h2>

    <% } %>
    <nav>
        <a href="/artistas/nuevo" >Agregar nuevo artista</a>
    </nav>
</body>
</html>
