<!--TRABAJA CON EL METODO SHOW DEL CONTROLADOR-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (artistas) { %> 
            <article>
                <h2><%= artistas.nombre %><span>apellido<%= artistas.apellido%></span></h2>
                <nav>
                    <a href="/artistas/<%= artistas.genero %>">
                        <%= artistas.genero %>
                    </a>
                </nav>
            </article>
        <% } else { %>
         <h2>no hay artista seleccionado</h2>

    <% } %>
    <nav>
        <a href="/artistas/nuevo" >Agregar nuevo artista</a>
    </nav>
</body>
</html>
