<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>argregar genero</title>
    
</head>

<body>
    <h1 class="titulo">Agregar Genero</h1>
        <form action="/generos/crear" method="POST">
            <fieldset>
                <legend>Nombre del genero</legend>
                <input type="text" name="nombre" id="nombre">
            </fieldset>
            <a  href="/generos">volver al listado</a>
            <p> <button type="submit">Agregar Nuevo genero</button>
            
                
        </form>
    </section>
    
</body>

</html>