<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
  </head>
  <body>
    <h1><%= titulo %></h1>
    <span>Antes de empezar te recomiendo que crees a tu "Artistas" y luego crees cancion </span>
    <p>Bienvenidos a <%= titulo %></p>
    <a href="/artistas">Artistas</a>
    <br>
    <br>
    <a href="/canciones">Canciones</a>

  </body>
</html>
