<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% if (artistas.length > 0) { %> <!--SI la cantidad de artistas guardas en el json en mayor a 0 se muestra, en caso contrario no -->
     
        <ul>
            <% artistas.forEach(element => { %>
               <%- include ("./partials/artistasPartial.ejs",{element:element}) %><!--CONTIENE A LOS ARTISTAS EN UN PARTIAL-->
            <% }) %>
        </ul>
        <% } else { %>
         <h2>no hay artista seleccionado</h2>
    <% } %>
    <nav>
        <a href="/artistas/nuevo" >Agregar nuevo artista</a>
    </nav>
</body>
</html>