<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado de artistas</title>
    

</head>

<body>
    <h1>LISTADO DE ARTISTAS</h1>
    <ul>
        <% for( let i = 0; i < artistas.length; i++ ) { %>
        <li>
            <a href="/artistas/detalle/" <%= artistas[i].id %>><%= artistas[i].nombre %>  <%= artistas[i].apellido %></a>
        </li>
        
        <% } %>
        
    </ul>
    <a  href="/">volver a la pagina principal</a>
    <br>
    <a  href="/artistas/crear/">Agrega a tiu artista favorito</a>
</body>

</html>