<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% if (canciones.length > 0) { %>
     
        <ul>
            <% canciones.forEach(element => { %>
                <li>
                    <a href="canciones/detalle/<%= element.id %>">
                        <%= element.titulo %> <span> <%= element.duracion %> </span>
                    </a>
                </li>
            <% }) %>
        </ul>
        <% } else { %>
         <h2>no hay tema </h2>

    <% } %>
</body>
</html>