<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Película</title>
</head>

<body>
    <h1>Película a Editar:  <%= artistas.nombre %></h1>
    <section>
        <form action="/artistas/update/<%= artistas.id %>" method="POST">
            <label for="nombre">titulo </label>
            <p><input type="text" name="nombre" id="nombre" value="<%= artistas.nombre %>" required></p>
            <label for="apellido">apellido </label>
            <p><input type="text" name="apellido" id="apellido" value="<%= artistas.apellido %>" required></p>


            <p> <button class="botonAgregar" type="submit">Actualizar</button>
        
            <a  class="botonVolver" href="/artistas">Listado de Películas</a></p>
        </form>
    </section>
</body>

</html>