<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <li>
        <a href="/artistas/detalle/<%= element.id %>"><!--DE ACA SALE ARTISTAS/DETALLE. DE ACA MUESTRA EL DETALLE DEL ARTISTA SOLICITADO POR ID-->
            <%= element.nombre %> <span><%= element.apellido %> </span><!-- controla en listado de artistas los Nombre y apellidos de dicho artista-->
        </a>
    </li>
</body>
</html>